.v-btn {
  &--router:hover {
    text-decoration: none;
  }
  &--active {
    pointer-events: none;
  }
}

/*
==================
Light Mode
==================
*/
.theme--light {
  .v-btn:not(.v-btn--outlined) {
    &.primary,
    &.secondary,
    &.accent,
    &.success,
    &.error,
    &.warning,
    &.info {
      color: var(--v-fontColor-basis, rgba(0, 0, 0, 0.87));
    }
  }
}

/*
==================
Dark Mode
==================
*/
.theme--dark {
  .v-btn:not(.v-btn--outlined) {
    // &.v-btn--icon,
    &.primary,
    &.secondary,
    &.accent,
    &.success,
    &.error,
    &.warning,
    &.info {
      color: var(--v-fontColor-basis, rgba(0, 0, 0, 0.87));
    }
  }
}
