// margin
.u-mt5 {
  margin-top: 5px;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mt15 {
  margin-top: 15px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mt30 {
  margin-top: 30px;
}
.u-mt40 {
  margin-top: 40px;
}
.u-mt50 {
  margin-top: 50px;
}
.u-mr5 {
  margin-right: 5px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr15 {
  margin-right: 15px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-mr30 {
  margin-right: 30px;
}
.u-mr40 {
  margin-right: 40px;
}
.u-mr50 {
  margin-right: 50px;
}
.u-mr60 {
  margin-right: 60px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb15 {
  margin-bottom: 15px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb30 {
  margin-bottom: 30px;
}
.u-mb40 {
  margin-bottom: 40px;
}
.u-mb50 {
  margin-bottom: 50px;
}
.u-mb60 {
  margin-bottom: 60px;
}
.u-mb70 {
  margin-bottom: 70px;
}
.u-mb80 {
  margin-bottom: 80px;
}
.u-mb90 {
  margin-bottom: 90px;
}
.u-mb100 {
  margin-bottom: 100px;
}
.u-mb110 {
  margin-bottom: 110px;
}
.u-mb120 {
  margin-bottom: 120px;
}
.u-mb130 {
  margin-bottom: 130px;
}
.u-mb140 {
  margin-bottom: 140px;
}
.u-ml5 {
  margin-left: 5px;
}
.u-ml10 {
  margin-left: 10px;
}
.u-ml15 {
  margin-left: 15px;
}
.u-ml20 {
  margin-left: 20px;
}
.u-mx5 {
  margin: 0 5px;
}
.u-my15 {
  margin: 15px 0;
}
.u-my10 {
  margin: 10px 0;
}
.u-ma0 {
  margin: 0;
}
.u-ma5 {
  margin: 5px;
}
.u-ma10 {
  margin: 10px;
}
.u-ma20 {
  margin: 20px;
}

// align

.u-h20 {
  height: 20px;
}
.u-w100 {
  width: 100px;
}
// width
// .u-minWidth300 {
//   min-width: 300px;
// }

// opacity
// .u-op5{
//   opacity: 0.5;
// }
// .u-op7{
//   opacity: $opacityBasis;
// }
// .u-icon{
//   width: 18px;
// }

// others
// .u-inline-block {
//   display: inline-block;
// }

// .u-fs20 {
//   font-size: 2rem;
// }
// .u-fs12 {
//   font-size: 1.2rem;
// }
// .u-fs16 {
//   font-size: 1.6rem;
// }
// .u-primaryLink {
//   color: $primaryColor;
//   &:hover {
//     text-decoration: underline;
//   }
// }
//
// .u-link {
//   transition: $transitionBasis;
//   &:hover {
//     text-decoration: underline;
//   }
// }
//
// .u-center {
//   @include contentCenter();
//   height: 100%;
// }
//
// .u-fill {
//   //@include fillStyle();
// }
//
// @for $i from 1 through $split-grid {
//   .u-col-#{$i} {
//     width: 100% / $split-grid * $i;
//   }
// }
// @include media('xl');
// @include media('lg');
// @include media();
// @include media('sm-w');
// @include media('sm');
