.u-w-600-center {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.u-w-450-center {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.u-md-w-450-center {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  @include media('md') {
    max-width: initial;
  }
}
